# APP CONFIG
PORT=4002

# AUTH DB HRIS
HRIS_AUTH_DB_HOST=localhost
HRIS_AUTH_DB_PORT=5432
HRIS_AUTH_DB_USER=postgres
HRIS_AUTH_DB_PASS=postgres
HRIS_AUTH_DB_NAME=hris_auth

# SECURITY
JWT_PRIVATE_KEY_PATH=keys/private_key.pem

# DOWNSTREAM SERVICES
CORE_SERVICE_URL=http://localhost:4001/api/v1